.header {
  background-color: #3e426b;
  margin-bottom: 50px;
}
header {
  margin: 0 auto;
  width: 100%;
  max-width: 1360px;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
.header-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.header-img > img {
  width: 80%;
}

.header-content {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.header-content > h1 {
  font-size: 3rem;
}

.header-content > h2 {
  text-transform: capitalize;
}
